<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.itea.echo.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dev.itea.echo.entity.Article">
        <id column="id" property="id"/>
        <result column="article_group_id" property="articleGroupId"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="sub_title" property="subTitle"/>
        <result column="content" property="content"/>
        <result column="category_id" property="categoryId"/>
        <result column="tag" property="tag"/>
        <result column="status" property="status"/>
        <result column="pv_count" property="pvCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="collecion_count" property="collecionCount"/>
        <result column="created_time" property="createdTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 用户排行查询映射结果 -->
    <resultMap id="UserRankResultMap" type="dev.itea.echo.vo.UserRankVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="avatar" property="avatar"/>
        <result column="article_sum" property="rankSum"/>
    </resultMap>

    <select id="getUserArticleNumRankList" resultMap="UserRankResultMap">
        SELECT u.id,
               `name`,
               description,
               avatar,
               count(*) AS article_sum
        FROM `user` AS u,
             `article` AS a
        WHERE u.id = a.user_id
        GROUP BY u.id
        ORDER BY article_sum DESC LIMIT 0,5;
    </select>
</mapper>
