<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.itea.echo.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dev.itea.echo.entity.Article">
        <id column="id" property="id"/>
        <result column="article_group_id" property="articleGroupId"/>
        <result column="user_id" property="userId"/>
        <result column="featured_pic" property="featuredPic"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="category_id" property="categoryId"/>
        <result column="tag" property="tag"/>
        <result column="status" property="status"/>
        <result column="pv_count" property="pvCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="collecion_count" property="collecionCount"/>
        <result column="created_time" property="createdTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 文章关联值对象映射结果 -->
    <resultMap id="ArticleListResultMap" type="dev.itea.echo.vo.ArticleVO">
        <id column="id" property="id"/>
        <result column="article_group_name" property="articleGroupName"/>
        <result column="author" property="author"/>
        <result column="featured_pic" property="featuredPic"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="category" property="category"/>
        <result column="tag" property="tag"/>
        <result column="status" property="status"/>
        <result column="pv_count" property="pvCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="collecion_count" property="collecionCount"/>
        <result column="created_time" property="createdTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 用户排行查询映射结果 -->
    <resultMap id="UserRankResultMap" type="dev.itea.echo.vo.UserRankVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="avatar" property="avatar"/>
        <result column="article_sum" property="rankSum"/>
    </resultMap>

    <select id="getUserArticleNumRankList" resultMap="UserRankResultMap">
        SELECT u.id,
               u.`name`,
               u.description,
               u.avatar,
               COUNT(a.id) AS article_sum
        FROM `user` AS u
                 JOIN
             `article` AS a ON u.id = a.user_id
        GROUP BY u.id, u.`name`, u.description, u.avatar
        ORDER BY article_sum DESC LIMIT 0, 5;
    </select>

    <select id="getArticleByPage" resultMap="ArticleListResultMap">
        SELECT a.id,
               a.featured_pic,
               a.title,
               a.summary,
               a.content,
               u.`name`        AS author,
               c.category_name AS category,
               a.tag,
               g.name          AS article_group_name,
               a.`status`,
               a.`pv_count`,
               a.`like_count`,
               a.`collecion_count`,
               a.`created_time`,
               a.`publish_time`,
               a.`update_time`
        FROM article AS a
                 JOIN `user` AS u ON a.user_id = u.id
                 JOIN category AS c ON a.category_id = c.id
                 LEFT JOIN group_article AS g ON a.article_group_id = g.id
            ${ew.customSqlSegment}
        <if test="ew.customSqlSegment!=null">
            AND a.is_deleted = 0
        </if>
        <if test="ew.customSqlSegment==null">
            WHERE a.is_deleted = 0
        </if>
        ORDER BY a.id
    </select>
</mapper>
