<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.itea.echo.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dev.itea.echo.entity.Article">
        <id column="id" property="id"/>
        <result column="article_group_id" property="articleGroupId"/>
        <result column="user_id" property="userId"/>
        <result column="featured_pic" property="featuredPic"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="category_id" property="categoryId"/>
        <result column="tag" property="tag"/>
        <result column="status" property="status"/>
        <result column="pv_count" property="pvCount"/>
        <result column="created_time" property="createdTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

    <!-- 文章关联值对象映射结果 -->
    <resultMap id="ArticleVOListResultMap" type="dev.itea.echo.vo.ArticleVO">
        <id column="id" property="id"/>
        <result column="article_group_name" property="articleGroupName"/>
        <result column="article_group_id" property="articleGroupId"/>
        <result column="author" property="author"/>
        <result column="avatar" property="avatar"/>
        <result column="user_id" property="userId"/>
        <result column="featured_pic" property="featuredPic"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="content" property="content"/>
        <result column="category" property="category"/>
        <result column="category_id" property="categoryId"/>
        <result column="tag" property="tag"/>
        <result column="status" property="status"/>
        <result column="pv_count" property="pvCount"/>
        <result column="like_count" property="likeCount"/>
        <result column="collection_count" property="collectionCount"/>
        <result column="comment_count" property="commentCount"/>
        <result column="created_time" property="createdTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 用户排行查询映射结果 -->
    <resultMap id="UserRankResultMap" type="dev.itea.echo.vo.UserRankVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="avatar" property="avatar"/>
        <result column="article_sum" property="rankSum"/>
    </resultMap>

    <select id="getUserArticleNumRankList" resultMap="UserRankResultMap">
        SELECT u.id,
               u.`name`,
               u.description,
               u.avatar,
               COUNT(a.id) AS article_sum
        FROM `user` AS u
                 JOIN
             `article` AS a ON u.id = a.user_id
        GROUP BY u.id, u.`name`, u.description, u.avatar
        ORDER BY article_sum DESC LIMIT 0, 5;
    </select>

    <select id="getArticleByPage" resultMap="ArticleVOListResultMap">
        SELECT a.id,
        a.featured_pic,
        a.title,
        a.summary,
        a.content,
        a.article_group_id,
        u.id AS user_id,
        u.`name` AS author,
        u.`avatar`,
        c.category_name AS category,
        c.id AS category_id,
        a.tag,
        g.name AS article_group_name,
        a.`status`,
        a.`pv_count`,
        (SELECT count(*) FROM article_thumb WHERE article_id = a.id) AS `like_count`,
        (SELECT count(*) FROM collection_article WHERE article_id = a.id) AS `collection_count`,
        (SELECT count(*) FROM comment_article WHERE article_id = a.id) AS `comment_count`,
        a.`created_time`,
        a.`publish_time`,
        a.`update_time`
        FROM article AS a
        JOIN `user` AS u ON a.user_id = u.id
        JOIN category AS c ON a.category_id = c.id
        LEFT JOIN group_article AS g ON a.article_group_id = g.id
        <if test="ew.customSqlSegment.length>0">
            ${ew.customSqlSegment}
            AND a.is_deleted = 0
        </if>
        <if test="!ew.customSqlSegment.length>0">
            WHERE a.is_deleted = 0
        </if>
        ORDER BY a.update_time DESC
    </select>

    <select id="getActiveArticleByPage" resultMap="ArticleVOListResultMap">
        SELECT a.id,
        a.featured_pic,
        a.title,
        a.summary,
        u.id AS user_id,
        u.`name` AS author,
        u.`avatar`,
        c.category_name AS category,
        c.id AS category_id,
        a.`pv_count`,
        (SELECT count(*) FROM article_thumb WHERE article_id = a.id) AS `like_count`,
        (SELECT count(*) FROM comment_article WHERE article_id = a.id) AS `comment_count`,
        a.`update_time`
        FROM article AS a
        JOIN `user` AS u ON a.user_id = u.id
        JOIN category AS c ON a.category_id = c.id
        <if test="ew.customSqlSegment.length>0">
            ${ew.customSqlSegment}
            AND a.is_deleted = 0
        </if>
        <if test="!ew.customSqlSegment.length>0">
            WHERE a.is_deleted = 0
        </if>
        ORDER BY a.update_time DESC
    </select>

    <select id="getHotArticleByPage" resultMap="ArticleVOListResultMap">
        SELECT a.id,
        a.featured_pic,
        a.title,
        a.summary,
        u.id AS user_id,
        u.`name` AS author,
        u.`avatar`,
        c.category_name AS category,
        c.id AS category_id,
        a.`pv_count`,
        (SELECT count(*) FROM article_thumb WHERE article_id = a.id) AS `like_count`,
        (SELECT count(*) FROM comment_article WHERE article_id = a.id) AS `comment_count`,
        a.`update_time`
        FROM article AS a
        JOIN `user` AS u ON a.user_id = u.id
        JOIN category AS c ON a.category_id = c.id
        <if test="ew.customSqlSegment.length>0">
            ${ew.customSqlSegment}
            AND a.is_deleted = 0
        </if>
        <if test="!ew.customSqlSegment.length>0">
            WHERE a.is_deleted = 0
        </if>
        ORDER BY a.`pv_count` DESC, `like_count`
    </select>

    <select id="getById" resultType="dev.itea.echo.vo.ArticleVO" parameterType="integer">
        SELECT a.id,
               a.featured_pic,
               a.title,
               a.summary,
               a.content,
               a.article_group_id,
               u.id                                                              AS user_id,
               u.`name`                                                          AS author,
               u.`avatar`,
               c.category_name                                                   AS category,
               c.id                                                              AS category_id,
               a.tag,
               g.name                                                            AS article_group_name,
               a.`status`,
               a.`pv_count`,
               (SELECT count(*) FROM article_thumb WHERE article_id = a.id)      AS `like_count`,
               (SELECT count(*) FROM collection_article WHERE article_id = a.id) AS `collection_count`,
               (SELECT count(*) FROM comment_article WHERE article_id = a.id)    AS `comment_count`,
               a.`created_time`,
               a.`publish_time`,
               a.`update_time`
        FROM article AS a
                 JOIN `user` AS u ON a.user_id = u.id
                 JOIN category AS c ON a.category_id = c.id
                 LEFT JOIN group_article AS g ON a.article_group_id = g.id
        WHERE a.id = #{id}
          AND a.is_deleted = 0
    </select>

    <select id="getArticleByTitle" resultType="dev.itea.echo.entity.Article" parameterType="string">
        SELECT id, title
        FROM article
        WHERE title LIKE CONCAT('%', #{name}, '%') LIMIT 0, 10;
    </select>

    <select id="getListByGroupId" resultMap="ArticleVOListResultMap" parameterType="integer">
        SELECT a.id,
               a.featured_pic,
               a.title,
               a.summary,
               u.id AS user_id,
               u.`name` AS author,
               u.`avatar`,
               c.category_name AS category,
               c.id AS category_id,
               a.`pv_count`,
               (SELECT count(*) FROM article_thumb WHERE article_id = a.id) AS `like_count`,
               (SELECT count(*) FROM comment_article WHERE article_id = a.id) AS `comment_count`,
               a.`update_time`
        FROM article AS a
                 JOIN `user` AS u ON a.user_id = u.id
                 JOIN category AS c ON a.category_id = c.id
                 JOIN group_article ga on a.article_group_id = ga.id
        WHERE ga.id = #{groupId}
        ORDER BY a.update_time
    </select>
</mapper>
