<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.itea.echo.mapper.CollectionPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dev.itea.echo.entity.CollectionPost">
        <id column="id" property="id" />
        <result column="collection_group_id" property="collectionGroupId" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="post_title" property="postTitle" />
        <result column="post_desc" property="postDesc" />
        <result column="is_delete" property="isDelete" />
    </resultMap>

</mapper>
