<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.itea.echo.mapper.DynamicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="dev.itea.echo.entity.Dynamic">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="category_id" property="categoryId" />
        <result column="tag" property="tag" />
        <result column="status" property="status" />
        <result column="pv_count" property="pvCount" />
        <result column="like_count" property="likeCount" />
        <result column="collection_count" property="collectionCount" />
        <result column="update_time" property="updateTime" />
        <result column="created_time" property="createdTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
